<table align="center" style="background-color: #E899FC; vertical-align: top; width: 680px; max-width: 680px; padding-bottom: 45px;" width="600" border="0" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td style="vertical-align: top; padding-top: 50px; padding-left: 40px; padding-right: 40px; padding-bottom: 40px; text-align: center;" colspan="2">
                <p style="color: #400553; font-size: 36px; font-weight: 900; line-height: 1.2; letter-spacing: -0.72px; margin: 0; text-wrap: balance">
                    Check out this home a<br> 5-minute walk from <span style="color: #FFF; font-weight: 900;">Alana</span>
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <table border="0" cellspacing="0" cellpadding="0" style="vertical-align: top; padding: 0 34px 25px; margin-left: auto; margin-right: auto;">
                    <tr>
                        <td style="max-width: 480px; vertical-align: top;">
                            <div style="background-image: url('https://raw.githubusercontent.com/Oliinyk/mail-templates/main/img/emeryville-img.jpg');     background-size: cover; vertical-align: top; border-top-left-radius: 28px; border-top-right-radius: 28px; padding: 23px 0 0 21px; border: 2px solid #400553; border-bottom: 0; height: 264px; width: 455px; text-align: left;">
                                <p style="display: inline-block; background-color: #00CA99; color: #FFF; font-size: 17.5px; font-weight: 600; line-height: 1.2; border-radius: 4px; padding: 10px 13px; margin: 0; margin-right: 10px;">
                                    <img src='https://raw.githubusercontent.com/Oliinyk/mail-templates/main/img/sparkles.png' alt="sparkles" style="display: inline-block; vertical-align: middle;" />
                                    <span style="vertical-align: middle; font-weight: 600;">NEW</span>
                                </p>
                                <p style="display: inline-block; background-color: #FFF; color: #400553; font-size: 17.5px; line-height: 1.2; border-radius: 4px; padding: 10px 13px; margin: 0;">
                                    <img src='https://raw.githubusercontent.com/Oliinyk/mail-templates/main/img/sneaker-icon-purple.png' alt="sneaker" style="display: inline-block; vertical-align: middle;" />
                                    <span style="vertical-align: middle; font-weight: 600;">5-min walk</span>
                                </p>
                            </div>
                            <div style="vertical-align: top; text-align: left; padding: 24px 29px 29px; background-color: #FFFFFF; border-bottom-left-radius: 28px; border-bottom-right-radius: 28px; border: 2px solid #400553;">
                                <div style="padding-bottom: 6px; line-height: 1;">
                                    <p style="width: 50%; display: inline-block; color: #400553; font-size: 16px; font-weight: 500; letter-spacing: -0.32px; line-height: 1.8; margin: 0;">
                                        <span style="display: inline-block; width: 12px; height: 12px; border-radius: 50%; background-color: #CB0000;"></span>
                                        <span style="padding-left: 3px;">For sale</span>
                                    </p>
                                </div>
                                <p style="color: #400553; font-size: 26px; font-weight: 700; line-height: 1.2; letter-spacing: -0.526px; margin: 0; padding-bottom: 10px;">
                                    $750,000
                                </p>
                                <p style="color: #400553; font-size: 21px; font-weight: 500; line-height: 1.2; letter-spacing: -0.421px; margin: 0; padding-bottom: 20px;">
                                    859 47th #A, Emeryville CA 940608
                                </p>
                                <p style="color: #400553; font-size: 18px; font-weight: 500; line-height: 1.2; letter-spacing: -0.36px; margin: 0;">
                                    1 Bed • 1 bath • 3,200 sqft
                                </p>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td align="center" style="padding-top: 17px;">
                <span style="display: inline-block; border-bottom: 4px solid #400553; border-right: 4px solid #400553; border-radius: 1000px;">
                    <a href="https://livenearfriends.com/" class="primary-btn" style="border: 2px solid #400553; background-color:#fff; border-radius: 1000px; padding: 14px 0; font-size: 16px; font-weight: 700; letter-spacing: -0.32px; color: #400553; text-align: center; display: block; width: 228px; transition: 0.2s all; text-decoration: none;">View this home</a>
                </span>
            </td>
        </tr>
    </tbody>
</table>