<table align="center" style="background-color: #0A0083; text-align: left; vertical-align: top; width: 680px; padding-bottom: 35px;" width="680" border="0" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td>
                <p style="text-align: center; color: #fff; font-size: 36px; font-weight: 900; line-height: 1.2; letter-spacing: -0.72px; margin-top: 0; margin-bottom: 8px;">
                    Within a 5-min walk
                </p>
                <p style="text-align: center; color: #94A5FF; font-size: 24px; font-weight: 800; line-height: 1.16; letter-spacing: -0.48px; margin-top: 0; margin-bottom: 18px;">
                    <span style="font-weight: 800; font-style: italic;">“Basically wearing pajamas”</span> distance
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <table border="0" cellspacing="0" cellpadding="7" style="vertical-align: top; padding: 0 34px 25px; margin-left: auto; margin-right: auto;">
                    <tr>
                        <!-- 1 -->
                        <td style="max-width: 190px; vertical-align: top;">
                            <div style="background-image: url('https://raw.githubusercontent.com/Oliinyk/mail-templates/main/img/emeryville-img.jpg');     background-size: cover; vertical-align: top; border-top-left-radius: 12px; border-top-right-radius: 12px; padding: 10px 12px; height: 105px; width: 166px;">
                                <p style="display: inline-block; background-color: #FFF; color: #0A0083; font-size: 12px; font-weight: 600; line-height: 1.2; border-radius: 4px; padding: 4px 8px; margin: 0;">
                                    <img src='https://raw.githubusercontent.com/Oliinyk/mail-templates/main/img/sneaker-icon.png' alt="sneaker" style="display: inline-block; vertical-align: middle;" />
                                    <span>5-min walk</span>
                                </p>
                            </div>
                            <div style="vertical-align: top; text-align: left; padding: 10px; background-color: #FFFFFF; border-bottom-left-radius: 12px; border-bottom-right-radius: 12px; border-top: 2px solid #0A0083; width: 170px;">
                                <div style="padding-bottom: 6px; line-height: 1;">
                                    <p style="width: 50%; display: inline-block; color: #0A0083; font-size: 10px; font-weight: 500; letter-spacing: -0.28px; line-height: 1.8; margin: 0;">
                                        <span style="display: inline-block; width: 10px; height: 10px; border-radius: 50%; background-color: #8A44FF;"></span>
                                        <span style="padding-left: 3px;">For rent</span>
                                    </p>
                                    <p style="width: 45%; display: inline-block; margin: 0 0 0 auto; text-align: right; color: #00CA99; font-size: 10px; font-weight: 700; letter-spacing: -0.2px; line-height: 1;">NEW LISTING</p>
                                </div>
                                <p style="color: #0A0083; font-size: 12px; font-weight: 700; line-height: 1.2; letter-spacing: -0.24px; margin: 0; padding-bottom: 10px;">
                                    $1475/month • Emeryville
                                </p>
                                <p style="color: #0A0083; font-size: 12px; font-weight: 500; line-height: 1.2; letter-spacing: -0.24px; margin: 0;">
                                    1 Bed • 1 bath • 3,200 sqft
                                </p>
                            </div>
                        </td>
                        <!-- 2 -->
                        <td style="max-width: 190px; vertical-align: top;">
                            <div style="background-image: url('https://raw.githubusercontent.com/Oliinyk/mail-templates/main/img/emeryville-img.jpg');     background-size: cover; vertical-align: top; border-top-left-radius: 12px; border-top-right-radius: 12px; padding: 10px 12px; height: 105px; width: 166px;">
                                <p style="display: inline-block; background-color: #FFF; color: #0A0083; font-size: 12px; font-weight: 600; line-height: 1.2; border-radius: 4px; padding: 4px 8px; margin: 0;">
                                    <img src='https://raw.githubusercontent.com/Oliinyk/mail-templates/main/img/sneaker-icon.png' alt="sneaker" style="display: inline-block; vertical-align: middle;" />
                                    <span>5-min walk</span>
                                </p>
                            </div>
                            <div style="vertical-align: top; text-align: left; padding: 10px; background-color: #FFFFFF; border-bottom-left-radius: 12px; border-bottom-right-radius: 12px; border-top: 2px solid #0A0083; width: 170px;">
                                <div style="padding-bottom: 6px; line-height: 1;">
                                    <p style="width: 50%; display: inline-block; color: #0A0083; font-size: 10px; font-weight: 500; letter-spacing: -0.28px; line-height: 1.8; margin: 0;">
                                        <span style="display: inline-block; width: 10px; height: 10px; border-radius: 50%; background-color: #8A44FF;"></span>
                                        <span style="padding-left: 3px;">For rent</span>
                                    </p>
                                    <p style="width: 45%; display: inline-block; margin: 0 0 0 auto; text-align: right; color: #00CA99; font-size: 10px; font-weight: 700; letter-spacing: -0.2px; line-height: 1;"></p>
                                </div>
                                <p style="color: #0A0083; font-size: 12px; font-weight: 700; line-height: 1.2; letter-spacing: -0.24px; margin: 0; padding-bottom: 10px;">
                                    $1475/month • Emeryville
                                </p>
                                <p style="color: #0A0083; font-size: 12px; font-weight: 500; line-height: 1.2; letter-spacing: -0.24px; margin: 0;">
                                    1 Bed • 1 bath • 3,200 sqft
                                </p>
                            </div>
                        </td>
                        <!-- 3 -->
                        <td style="max-width: 190px; vertical-align: top;">
                            <div style="background-image: url('https://raw.githubusercontent.com/Oliinyk/mail-templates/main/img/emeryville-img.jpg');     background-size: cover; vertical-align: top; border-top-left-radius: 12px; border-top-right-radius: 12px; padding: 10px 12px; height: 105px; width: 166px;">
                                <p style="display: inline-block; background-color: #FFF; color: #0A0083; font-size: 12px; font-weight: 600; line-height: 1.2; border-radius: 4px; padding: 4px 8px; margin: 0;">
                                    <img src='https://raw.githubusercontent.com/Oliinyk/mail-templates/main/img/sneaker-icon.png' alt="sneaker" style="display: inline-block; vertical-align: middle;" />
                                    <span>5-min walk</span>
                                </p>
                            </div>
                            <div style="vertical-align: top; text-align: left; padding: 10px; background-color: #FFFFFF; border-bottom-left-radius: 12px; border-bottom-right-radius: 12px; border-top: 2px solid #0A0083; width: 170px;">
                                <div style="padding-bottom: 6px; line-height: 1;">
                                    <p style="width: 50%; display: inline-block; color: #0A0083; font-size: 10px; font-weight: 500; letter-spacing: -0.28px; line-height: 1.8; margin: 0;">
                                        <span style="display: inline-block; width: 10px; height: 10px; border-radius: 50%; background-color: #8A44FF;"></span>
                                        <span style="padding-left: 3px;">For rent</span>
                                    </p>
                                    <p style="width: 45%; display: inline-block; margin: 0 0 0 auto; text-align: right; color: #00CA99; font-size: 10px; font-weight: 700; letter-spacing: -0.2px; line-height: 1;"></p>
                                </div>
                                <p style="color: #0A0083; font-size: 12px; font-weight: 700; line-height: 1.2; letter-spacing: -0.24px; margin: 0; padding-bottom: 10px;">
                                    $1475/month • Emeryville
                                </p>
                                <p style="color: #0A0083; font-size: 12px; font-weight: 500; line-height: 1.2; letter-spacing: -0.24px; margin: 0;">
                                    1 Bed • 1 bath • 3,200 sqft
                                </p>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </tbody>
</table>