<!-- Footer -->
<table align="center" border="0" cellspacing="0" cellpadding="0" style="background-color:#94A5FF; padding: 37px 40px 40px 40px; width: 680px;" width="680">
    <tr>
        <td style="padding-bottom: 30px;">
            <div style="text-align: center;">
                <a href="https://livenearfriends.com/" target="_blank" style="display: inline-block; padding: 0 10px 0 10px; text-decoration: none;">
                    <img src='https://raw.githubusercontent.com/Oliinyk/mail-templates/main/img/facebook-ico.png' alt="facebook-logo" />
                </a>
                <a href="https://livenearfriends.com/" target="_blank" style="display: inline-block; padding: 0 10px 0 10px; text-decoration: none;">
                    <img src='https://raw.githubusercontent.com/Oliinyk/mail-templates/main/img/x-ico.png' alt="x-logo" />
                </a>
                <a href="https://livenearfriends.com/" target="_blank" style="display: inline-block; padding: 0 10px 0 10px; text-decoration: none;">
                    <img src='https://raw.githubusercontent.com/Oliinyk/mail-templates/main/img/instagram-ico.png' alt="instagram-logo" />
                </a>
                <a href="https://livenearfriends.com/" target="_blank" style="display: inline-block; padding: 0 10px 0 10px; text-decoration: none;">
                    <img src='https://raw.githubusercontent.com/Oliinyk/mail-templates/main/img/linkedin-ico.png' alt="linkedin-logo" />
                </a>
            </div>
        </td>
    </tr>
    <tr>
        <td style="padding: 0 0 9px 0;text-align: center;">
            <p style="color: #0A0083; margin: 0; font-weight: 700; font-size: 12px; letter-spacing: -0.24px; line-height: 1.2; text-align: center;">Never miss an alert from LiveNearFriends</p>
        </td>
    </tr>
    <tr>
        <td style="padding: 0 0 24px 0;text-align: center;">
            <p style="color: #0A0083; margin: 0; font-weight: 500; font-size: 12px; letter-spacing: -0.24px; line-height: 1.2; text-align: center;max-width: 400px;margin: 0 auto;">To make sure you’re getting all the latest updates, drag and drop your LiveNearFriend emails into your Inbox’s Primary tab.</p>
        </td>
    </tr>
    <tr>
        <td style="padding: 0 0 8px 0;text-align: center;">
            <p style="color: #0A0083; margin: 0; font-weight: 700; font-size: 12px; letter-spacing: -0.24px; line-height: 1.2; text-align: center;">We’d love to hear from you!</p>
        </td>
    </tr>
    <tr>
        <td style="padding: 0 0 22px 0;text-align: center;">
            <p style="color: #0A0083; margin: 0; font-weight: 500; font-size: 12px; letter-spacing: -0.24px; line-height: 1.2; text-align: center; max-width: 450px; text-wrap: balance; margin: 0 auto;">Help us improve LiveNearFriends. Reach out to <a href="mailto:hello@livenearfriends.com" style="font-size: 12px;color:#0A0083;">hello@livenearfriends.com</a> with any questions, comments, or feedback.</p>
        </td>
    </tr>
    <tr>
        <td style="padding: 0 0 19px 0;text-align: center;">
            <a href="https://livenearfriends.com/" target="_blank" style="margin: 0; font-weight: 500; font-size: 12px; letter-spacing: -0.24px; color:#0A0083;">Home filters</a>
            <span style="font-size: 12px; padding: 0 8px;">|</span>
            <a href="https://livenearfriends.com/" target="_blank" style="margin: 0; font-weight: 500; font-size: 12px; letter-spacing: -0.24px; color:#0A0083;">Email preferences</a>
            <span style="font-size: 12px; padding: 0 8px;">|</span>
            <a href="https://livenearfriends.com/" target="_blank" style="margin: 0; font-weight: 500; font-size: 12px; letter-spacing: -0.24px; color:#0A0083;">Unsubscribe</a>
        </td>
    </tr>
    <tr>
        <td style="text-align: center;">
            <p style="color: #0A0083; margin: 0; font-weight: 400; font-size: 10px; letter-spacing: -0.2px; line-height: 20px; text-align: center;">©2023 LiveNearFrends. All rights reserved.</p>
        </td>
    </tr>
</table>