<!-- Header -->
<table align="center" style="text-align: center; vertical-align: middle; width: 680px; background-color: #94A5FF; border-bottom: 2px solid #0A0083;" width="680" border="0" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td style="vertical-align: middle;">
                <p style="font-size: 24px; font-weight: 900; color: #0A0083; text-transform: uppercase; margin-top: 27px; margin-bottom: 26px; letter-spacing: -0.72px;">Live Near 
                    <img src='https://raw.githubusercontent.com/Oliinyk/mail-templates/main/img/hand.png' alt="hand" style="display: inline-block; vertical-align: bottom;" />
                    <span style="color: #fff; font-weight: 900;">friends</span>
                </p>
            </td>
        </tr>
    </tbody>
</table>