<!-- Share button -->
<span style="display: inline-block; background-color: #0A0083; border-bottom: 4px solid #0A0083; border-right: 4px solid #0A0083; border-radius: 1000px; margin-bottom: 11px;">
    <a href="https://livenearfriends.com/" class="secondary-btn" style="background-color: #0A0083; border: 2px solid #94A5FF; border-radius: 1000px; padding: 16px 24px 14px; font-size: 16px; font-weight: 700; letter-spacing: -0.32px; color: #fff; text-align: center; display: inline-block; transition: 0.2s all; text-decoration: none;">
        <img src='https://raw.githubusercontent.com/Oliinyk/mail-templates/main/img/btn-arrow.png' alt="arrow" style="display: inline-block; vertical-align: middle; margin-right: 3px;" />
        Share link
    </a>
</span>